---
interface Props {
  class: string
  title: string
}
---

<div class:list={['inline-flex items-center justify-start gap-2 primary', Astro.props.class]}>
  <span class="break-words text-center on-primary-text display-small">
    {Astro.props.title}
  </span>
</div>
