---
interface Props {
  class: string
  title: string
}
---

<div class:list={['primary inline-flex items-center justify-start gap-2', Astro.props.class]}>
  <span class="display-small on-primary-text break-words text-center">
    {Astro.props.title}
  </span>
</div>
