---
interface Props {
  class: string;
  title: string;
}
---
<div class:list={[
  'primary justify-start items-center gap-2 inline-flex',
  Astro.props.class
]} >
    <span class="display-small on-primary-text text-center break-words">
      {Astro.props.title}
    </span>
</div>
