:root {
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001f26;
  --md-ref-palette-primary20: #003641;
  --md-ref-palette-primary25: #00424f;
  --md-ref-palette-primary30: #004e5d;
  --md-ref-palette-primary35: #005b6c;
  --md-ref-palette-primary40: #00687b;
  --md-ref-palette-primary50: #00829a;
  --md-ref-palette-primary60: #009eba;
  --md-ref-palette-primary70: #2ebad8;
  --md-ref-palette-primary80: #56d6f5;
  --md-ref-palette-primary90: #aeecff;
  --md-ref-palette-primary95: #d9f6ff;
  --md-ref-palette-primary98: #f1fbff;
  --md-ref-palette-primary99: #f8fdff;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #181e00;
  --md-ref-palette-secondary20: #2b3400;
  --md-ref-palette-secondary25: #354000;
  --md-ref-palette-secondary30: #3f4c00;
  --md-ref-palette-secondary35: #4a5800;
  --md-ref-palette-secondary40: #556500;
  --md-ref-palette-secondary50: #6d7f1a;
  --md-ref-palette-secondary60: #869933;
  --md-ref-palette-secondary70: #a0b44b;
  --md-ref-palette-secondary80: #bbd063;
  --md-ref-palette-secondary90: #d7ed7c;
  --md-ref-palette-secondary95: #e5fb89;
  --md-ref-palette-secondary98: #f5ffc4;
  --md-ref-palette-secondary99: #fcffdf;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #40000f;
  --md-ref-palette-tertiary20: #67001e;
  --md-ref-palette-tertiary25: #7c0026;
  --md-ref-palette-tertiary30: #91002e;
  --md-ref-palette-tertiary35: #a70036;
  --md-ref-palette-tertiary40: #bb0c40;
  --md-ref-palette-tertiary50: #df3056;
  --md-ref-palette-tertiary60: #ff5070;
  --md-ref-palette-tertiary70: #ff8795;
  --md-ref-palette-tertiary80: #ffb2b9;
  --md-ref-palette-tertiary90: #ffdadc;
  --md-ref-palette-tertiary95: #ffeced;
  --md-ref-palette-tertiary98: #fff8f7;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1d;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral25: #393c3d;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505354;
  --md-ref-palette-neutral40: #5c5f60;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8e9192;
  --md-ref-palette-neutral70: #a9abad;
  --md-ref-palette-neutral80: #c5c7c8;
  --md-ref-palette-neutral90: #e1e3e4;
  --md-ref-palette-neutral95: #eff1f2;
  --md-ref-palette-neutral98: #f8f9fb;
  --md-ref-palette-neutral99: #fbfcfe;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #141d1f;
  --md-ref-palette-neutral-variant20: #293235;
  --md-ref-palette-neutral-variant25: #343d40;
  --md-ref-palette-neutral-variant30: #3f484b;
  --md-ref-palette-neutral-variant35: #4b5457;
  --md-ref-palette-neutral-variant40: #576063;
  --md-ref-palette-neutral-variant50: #70797c;
  --md-ref-palette-neutral-variant60: #899295;
  --md-ref-palette-neutral-variant70: #a4adb0;
  --md-ref-palette-neutral-variant80: #bfc8cb;
  --md-ref-palette-neutral-variant90: #dbe4e7;
  --md-ref-palette-neutral-variant95: #e9f2f6;
  --md-ref-palette-neutral-variant98: #f2fbfe;
  --md-ref-palette-neutral-variant99: #f8fdff;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-sys-color-primary-light: #00687b;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #aeecff;
  --md-sys-color-on-primary-container-light: #001f26;
  --md-sys-color-secondary-light: #556500;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d7ed7c;
  --md-sys-color-on-secondary-container-light: #181e00;
  --md-sys-color-tertiary-light: #bb0c40;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdadc;
  --md-sys-color-on-tertiary-container-light: #40000f;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfcfe;
  --md-sys-color-on-background-light: #191c1d;
  --md-sys-color-surface-light: #fbfcfe;
  --md-sys-color-on-surface-light: #191c1d;
  --md-sys-color-surface-variant-light: #dbe4e7;
  --md-sys-color-on-surface-variant-light: #3f484b;
  --md-sys-color-outline-light: #70797c;
  --md-sys-color-outline-variant-light: #bfc8cb;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-inverse-surface-light: #2e3132;
  --md-sys-color-inverse-on-surface-light: #eff1f2;
  --md-sys-color-inverse-primary-light: #56d6f5;
  --md-sys-color-primary-dark: #56d6f5;
  --md-sys-color-on-primary-dark: #003641;
  --md-sys-color-primary-container-dark: #004e5d;
  --md-sys-color-on-primary-container-dark: #aeecff;
  --md-sys-color-secondary-dark: #bbd063;
  --md-sys-color-on-secondary-dark: #2b3400;
  --md-sys-color-secondary-container-dark: #3f4c00;
  --md-sys-color-on-secondary-container-dark: #d7ed7c;
  --md-sys-color-tertiary-dark: #ffb2b9;
  --md-sys-color-on-tertiary-dark: #67001e;
  --md-sys-color-tertiary-container-dark: #91002e;
  --md-sys-color-on-tertiary-container-dark: #ffdadc;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-background-dark: #191c1d;
  --md-sys-color-on-background-dark: #e1e3e4;
  --md-sys-color-surface-dark: #191c1d;
  --md-sys-color-on-surface-dark: #e1e3e4;
  --md-sys-color-surface-variant-dark: #3f484b;
  --md-sys-color-on-surface-variant-dark: #bfc8cb;
  --md-sys-color-outline-dark: #899295;
  --md-sys-color-outline-variant-dark: #3f484b;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-inverse-surface-dark: #e1e3e4;
  --md-sys-color-inverse-on-surface-dark: #2e3132;
  --md-sys-color-inverse-primary-dark: #00687b;
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: 'system-ui';
  --md-sys-typescale-display-large-font: Open Sans;
  --md-sys-typescale-display-large-weight: 400;
  --md-sys-typescale-display-large-size: 3.5rem;
  --md-sys-typescale-display-large-line-height: 4rem;
  --md-sys-typescale-display-large-letter-spacing: -0.016rem;
  --md-sys-typescale-display-medium-font: Open Sans;
  --md-sys-typescale-display-medium-weight: 400;
  --md-sys-typescale-display-medium-size: 2.875rem;
  --md-sys-typescale-display-medium-line-height: 3.375rem;
  --md-sys-typescale-display-medium-letter-spacing: 0rem;
  --md-sys-typescale-display-small-font: Open Sans;
  --md-sys-typescale-display-small-weight: 400;
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-line-height: 2.75rem;
  --md-sys-typescale-display-small-letter-spacing: 0rem;
  --md-sys-typescale-headline-large-font: Open Sans;
  --md-sys-typescale-headline-large-weight: 400;
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-line-height: 2.5rem;
  --md-sys-typescale-headline-large-letter-spacing: 0rem;
  --md-sys-typescale-headline-medium-font: Open Sans;
  --md-sys-typescale-headline-medium-weight: 400;
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-line-height: 2.25rem;
  --md-sys-typescale-headline-medium-letter-spacing: 0rem;
  --md-sys-typescale-headline-small-font: Open Sans;
  --md-sys-typescale-headline-small-weight: 400;
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-line-height: 2rem;
  --md-sys-typescale-headline-small-letter-spacing: 0rem;
  --md-sys-typescale-title-large-font: system-ui;
  --md-sys-typescale-title-large-weight: 400;
  --md-sys-typescale-title-large-size: 1.5rem;
  --md-sys-typescale-title-large-line-height: 1.875rem;
  --md-sys-typescale-title-large-letter-spacing: 0rem;
  --md-sys-typescale-title-medium-font: system-ui;
  --md-sys-typescale-title-medium-weight: 500;
  --md-sys-typescale-title-medium-size: 1.125rem;
  --md-sys-typescale-title-medium-line-height: 1.5rem;
  --md-sys-typescale-title-medium-letter-spacing: 0.009rem;
  --md-sys-typescale-title-small-font: system-ui;
  --md-sys-typescale-title-small-weight: 500;
  --md-sys-typescale-title-small-size: 1rem;
  --md-sys-typescale-title-small-line-height: 1.375rem;
  --md-sys-typescale-title-small-letter-spacing: 0.006rem;
  --md-sys-typescale-body-large-font: system-ui;
  --md-sys-typescale-body-large-weight: 400;
  --md-sys-typescale-body-large-size: 1.125rem;
  --md-sys-typescale-body-large-line-height: 1.625rem;
  --md-sys-typescale-body-large-letter-spacing: 0.032rem;
  --md-sys-typescale-body-medium-font: system-ui;
  --md-sys-typescale-body-medium-weight: 400;
  --md-sys-typescale-body-medium-size: 1rem;
  --md-sys-typescale-body-medium-line-height: 1.375rem;
  --md-sys-typescale-body-medium-letter-spacing: 0.016rem;
  --md-sys-typescale-body-small-font: system-ui;
  --md-sys-typescale-body-small-weight: 400;
  --md-sys-typescale-body-small-size: 0.875rem;
  --md-sys-typescale-body-small-line-height: 1.125rem;
  --md-sys-typescale-body-small-letter-spacing: 0.025rem;
  --md-sys-typescale-label-large-font: system-ui;
  --md-sys-typescale-label-large-weight: 500;
  --md-sys-typescale-label-large-size: 1rem;
  --md-sys-typescale-label-large-line-height: 1.5rem;
  --md-sys-typescale-label-large-letter-spacing: 0.006rem;
  --md-sys-typescale-label-medium-font: system-ui;
  --md-sys-typescale-label-medium-weight: 500;
  --md-sys-typescale-label-medium-size: 0.875rem;
  --md-sys-typescale-label-medium-line-height: 1.25rem;
  --md-sys-typescale-label-medium-letter-spacing: 0.032rem;
  --md-sys-typescale-label-small-font: system-ui;
  --md-sys-typescale-label-small-weight: 500;
  --md-sys-typescale-label-small-size: 0.75rem;
  --md-sys-typescale-label-small-line-height: 1rem;
  --md-sys-typescale-label-small-letter-spacing: 0.025rem;
}
