---
import Global from "../lib/Global.astro"
import Header from "../lib/Header.astro"
import Dialogue from "../lib/Dialogue.svelte"
import background from "../assets/Background.png"
import speaker from "../assets/Speaker.png"
---
<script>
	function action() {
		console.log('not implemented')
	}
</script>

<html class="h-screen" lang="en">
	<head>
		<title>Blog</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>

  	<body class="h-full flex flex-col justify-stretch bg-center bg-no-repeat" style={`background-image: url(${background.src});`}>
		<Global/>
		<Header class="w-full"/>
		<main class="h-full">
			<div class="h-full w-full flex justify-center">
				<Dialogue class="h-full max-w-[90%] md:max-w-[50%]" client:only="svelte" messages={[
					"Hey!",
					"My name is Alexander Bzikadze! I am a Software Engineering Manager, based in Tokyo. My professional interests cover Teams Management,  Technical Leadership and Organization Design. I am also a pianist, D&D Game Master and Georgian cuisine enthusiast.",
					"It is a pleasure to welcome you!",
					"What would you like to learn next?",
				]} speaker={speaker.src} navigations={[
					{ text: 'Your Blog' }
				]}
				/>
			</div>
		</main>
  	</body>
</html>

