---
import Landing from '../layout/Landing.astro'
import Header from '../lib/Header.astro'
import Chat from '../lib/components/chat/Chat.svelte'
import Response from '../lib/components/chat/Response.svelte'
import Dialogue from '../lib/components/chat/Dialogue.svelte'
import Line from '../lib/components/chat/Line.svelte'
import Message from '../lib/components/chat/Message.svelte'
import Avatar from '../lib/components/Avatar.astro'
import Navigation from '../lib/components/Navigation.svelte'
import speaker from '../assets/Speaker.png'

const title = 'Alexander Bzikadze'
---

<Landing>
  <div class="flex h-full flex-col justify-stretch">
    <Header class="w-full" {title} />
    <main class="h-full">
      <Chat class="h-full p-5">
        <Dialogue slot="dialogue" class="mx-auto w-full max-w-[30rem]">
          <Line sender="addressee">
            <Avatar slot="avatar" style="primary" src={speaker} alt="Adressee" class="h-12 w-12" />
            <Message message="Hey!" style="primary" />
            <Message message="My name is Alexander Bzikadze!" style="primary" />
            <Message message="I am a Software Engineering Manager, based in Tokyo." style="primary" />
            <Message
              message="My professional interests cover Teams Management,  Technical Leadership and Organization Design."
              style="primary"
            />
            <Message message="I am also a pianist, D&D Game Master and Georgian cuisine enthusiast." style="primary" />
            <Message message="It is a pleasure to welcome you!" style="primary" />
            <Message message="What would you like to learn next?" style="primary" />
          </Line>
        </Dialogue>
        <Response slot="response">
          <Navigation style="tertiary" label="Your Portfolio" href="./portfolio/" icon="send" />
        </Response>
      </Chat>
    </main>
  </div>
</Landing>
