---
import { getImage } from 'astro:assets'
import { ViewTransitions } from 'astro:transitions'
import Global from '../lib/Global.astro'
import background from '../assets/Background.png'
import darkBackground from '../assets/Background-dark.png'

const bg = {
  light: `url("${(await getImage({ src: background })).src}")`,
  dark: `url("${(await getImage({ src: darkBackground })).src}")`,
}
const base = import.meta.env.BASE_URL
---

<script>
  document.addEventListener('astro:after-swap', () => {
    document.documentElement.dataset['loaded'] = ''
  })
</script>

<html class="h-screen" lang="en">
  <head>
    <title>Alexander Bzikadze</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href=`${base}favicon.svg` />
    <!--
			Add [Material Icons](https://developers.google.com/fonts/docs/material_icons)
			New icons can be [searched for](https://fonts.google.com/icons)
		-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Add [Open Sans font](https://fonts.google.com/specimen/Open+Sans) -->
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

    <ViewTransitions />
  </head>

  <body class="h-full bg-center bg-no-repeat font-sans backdrop-blur">
    <Global />
    <slot />
    <style define:vars={{ lightBackground: bg.light, darkBackground: bg.dark }}>
      body {
        background-image: var(--lightBackground);
      }

      @media (prefers-color-scheme: light) {
        body {
          background-image: var(--lightBackground);
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-image: var(--darkBackground);
        }
      }
    </style>
  </body>
</html>
